<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Secure_Email_Application.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Secure_Email_Application.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="FirstName" serializeAs="String">
                <value />
            </setting>
            <setting name="LastName" serializeAs="String">
                <value />
            </setting>
            <setting name="Email" serializeAs="String">
                <value />
            </setting>
            <setting name="RememberMe" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TwoFactorAuthentication" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EmailPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="EncryptSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProgramLockMethod" serializeAs="String">
                <value />
            </setting>
            <setting name="SendEmail" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GenerateLogFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ActionAfterSaving" serializeAs="String">
                <value />
            </setting>
        </Secure_Email_Application.Properties.Settings>
    </userSettings>
</configuration>